.searchBarDiv{
    /* position: fixed; */
    /* right:0; */
    /* bottom: 0; */
    text-align: center;
    margin: 20px 0px;
}
#searchBar{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 5px;
    width:200px;
    height:25px;
    font-size: larger;
    /* border: none; */
    border: 1px solid;
}
.filter{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    width:200px;
    height: 30px;
    font-size: larger;
} 
.clear{
    border: 1px solid;
    border-radius: 5px;
    /* display: none; */
    margin-left: 10px;
    /* border-color: white; */
    height: 30px;
    font-size: larger;
    color: black;
    background-color: white;
    /* border: n; */
    cursor: pointer;
}
