.searchBarDiv{
    text-align: center;
    margin: 20px 0px;
}
#searchBar{
    border-radius: 5px;
    width:200px;
    height:25px;
    font-size: larger;
    border: 1px solid;
    color: white;
    font-weight: 600;
    background-color: #52db95;
}

.filter{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    width:200px;
    height: 30px;
    font-size: larger;
    color: white;
    font-weight: 600;
    background-color: #52db95;
} 
.clear{
    border: 1px solid;
    border-radius: 5px;
    /* display: none; */
    margin-left: 10px;
    /* border-color: white; */
    height: 30px;
    font-size: larger;
    color: white;
    font-weight: 600;
    background-color: #52db95;
    /* border: n; */
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  