.searchBarDiv{
    text-align: center;
    margin: 20px 0px;
}
#searchBar{
    border-radius: 5px;
    width:200px;
    height:25px;
    font-size: larger;
    border: 1px solid;
    /* color: white; */
    font-weight: 600;
    /* background-color: #52db95;    */
}

.filter{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    width:200px;
    height: 30px;
    font-size: larger;
    /* color: white; */
    font-weight: 600;
    /* background-color: #52db95; */
} 
.clear{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    font-size: larger;
    /* color: white; */
    font-weight: 600;
    /* background-color: #52db95; */
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  